<h1 class="page_title">About</h1>
<p>The Liberty Hive surfaces the best new content as voted on by our libertarian members.  Members are welcome to submit, vote on and discuss featured articles.  In order to maintain a high quality of content and discussion, membership is by invitation only.  We welcome intellectually active libertarians, particularly those who are engaged in libertarian organizations and causes.</p>
<p>We plan to launch a private beta by May 2011.  Please contact us if you would like to be involved in any way.</p>