<h1 class="page_title">Your Taste, Delivered</h1>

<p>Delectable is a personalized wine subscription service. Each month we send you wine catered to your taste. We’ll ask you to rate each bottle so that we can refine your Taste Profile and send you ever better vino.</p>

<p>We select wines from exceptional boutique winemakers that are not typically available in retail stores. And since the bottles are shipped directly from the winemaker, we’re able to offer lower than retail price.</p>

<a href="/survey">Start My Taste Profile</a>